{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
{{ dog_info.dog_name}}'s Dashboard
{% endblock %}

{% block body %}
<div class="container top-margin">

  <h2>Puppy Dashboard</h2>

  <div class="dog-info">
    <img style="width: 25%;height: 25%;" src="/static/imgs/user_uploads/images/{{dog_info.dog_img}}">
    <h5> {{ dog_info.dog_name }} </h5>
    <p> {{ dog_info.dog_bio }} </p>
  </div>

  <!-- MEAL FORM -->
  <form class="meal-form top-margin" method="POST" action="/dashboard">
    <h5>Add a Meal</h5>
    {{ meal_form.hidden_tag() }}
    {{ wtf.form_field(meal_form.meal_type) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add Meal</button>
  </form>

  <!-- MEALS CONTAINER -->
  <div class="meals">
    <ul>
      {% for meal in all_meals %}
      <li>
        {{ meal.meal_type }} {{ meal.meal_time }}
      </li>
      {% endfor %}
    </ul>
  </div>

  <!-- MOOD FORM -->
  <form class="mood-form top-margin" method="POST" action="/dashboard">
    <h5>Add a Mood</h5>
    {{ mood_form.hidden_tag() }}
    {{ wtf.form_field(mood_form.mood_type) }}
    {{ wtf.form_field(mood_form.mood_note) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add Mood</button>
  </form>

  <!-- MOODS CONTAINER -->
  <div class="moods">
    <ul>
      {% for mood in all_moods %}
      <li>
        {{ mood.mood_type }} {{ mood.mood_note }}
      </li>
      {% endfor %}
    </ul>
  </div>

  <!-- ACTIVITY FORM -->
  <form class="activity-form top-margin" method="POST" action="/dashboard">
    <h5>Add an Activity</h5>
    {{ activity_form.hidden_tag() }}
    {{ wtf.form_field(activity_form.activity_type) }}
    {{ wtf.form_field(activity_form.activity_duration) }}
    {{ wtf.form_field(activity_form.activity_note) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add Activity</button>
  </form>

  <!-- ACTIVITY CONTAINER -->
  <div class="activities">
    <ul>
    {% for activity in all_activities %}
    <li>
      {{ activity.activity_type }} {{ activity.activity_time }} {{ activity.activity_duration }} {{ activity.activity_note }}
    </li>
    {% endfor %}
  </ul>
  </div>

  <!-- TRAINING FORM -->
  <form class="training-form top-margin" method="POST" action="/dashboard">
    <h5>Add a Training Session</h5>
    {{ training_form.hidden_tag() }}
    {{ wtf.form_field(training_form.training_type) }}
    {{ wtf.form_field(training_form.training_duration) }}
    {{ wtf.form_field(training_form.training_note) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add Training Session</button>
  </form>

  <!-- TRAINING CONTAINER -->
  <div class="trainings">
    <ul>
      {% for training in all_trainings %}
      <li>
        {{ training.training_type }} {{ training.training_time }} {{ training.training_duration }} {{ training.training_note }}
      </li>
      {% endfor %}
    </ul>
  </div>

  <!-- GROOMING FORM -->
  <form class="grooming-form top-margin" method="POST" action="/dashboard">
    <h5>Add a Grooming Session</h5>
    {{ grooming_form.hidden_tag() }}
    {{ wtf.form_field(grooming_form.grooming_type) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add Grooming Session</button>
  </form>

  <!-- GROOMING CONTAINER -->
  <div class="groomings">
    <ul>
      {% for grooming in all_groomings %}
      <li>
        {{ grooming.grooming_type }}
      </li>
      {% endfor %}
    </ul>
  </div>

  <!-- NOTES FORM -->
  <form class="notes-form top-margin" method="POST" action="/dashboard">
    <h5>Add a Daily Note</h5>
    {{ note_form.hidden_tag() }}
    {{ wtf.form_field(note_form.note) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add a note</button>
  </form>

  <!-- NOTES CONTAINER -->
  <div class="notes">
    <ul>
      {% for note in all_notes %}
      <li>
        {{ note.note }} {{ note.note_date }}
      </li>
      {% endfor %}
    </ul>
  </div>


  <!-- MEDS FORM -->
  <form class="meds-form top-margin" method="POST" action="/dashboard">
    <h5>Add a medication</h5>
    {{ med_form.hidden_tag() }}
    {{ wtf.form_field(med_form.med_type) }}
    {{ wtf.form_field(med_form.med_note) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add a medication</button>
  </form>

  <!-- MEDS CONTAINER -->
  <div class="meds">
    <ul>
      {% for med in all_meds %}
      <li>
        {{ med.med_type }} {{ med.med_date }} {{ med.med_note }}
      </li>
      {% endfor %}
    </ul>
  </div>

  <!-- CHARTS -->

  <!-- MEAL CHART -->
  <canvas id="mealChart"></canvas>
  <!-- MOOD CHART -->
  <canvas id="moodChart"></canvas>
  <!-- GROOMING CHART -->
  <!-- ACTIVITY CHART -->
  <!-- TRAINING CHART -->

</div> <!-- bootstrap-container -->

{% endblock %}