{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
{{ dog_info.dog_name}}'s Dashboard
{% endblock %}
{% block body %}

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Preoccupied Pup</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active"><a class="nav-link" href="{{ url_for('login') }}">Log Out</a></li>
      <li class="nav-item active"><a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a></li>
    </ul>
  </div>
</nav>

<!------------------------------------------>

<div class="container top-margin">

  <!-- DASHBOARD TITLE BLOCK -->
  <div class="row">
    <div class="col-lg-12">
      <h2 class="dashboard-title">{{ dog_info.dog_name }}'s Dashboard</h2>
    </div>
  </div>

  <div class="row">

    <!-- MAIN ROW WITH ALL GRAPHS AND TRACKERS -->
    <div class="col-lg-8">

      <div class="row section-container">
        <!--Start of Meal Row-->
        <div class="col-lg-4">
          <!-- MEAL FORM -->
          <form class="meal-form" method="POST" action="/dashboard">
            <h5>{{ dog_info.dog_name }}'s Meal Data</h5>
            {{ meal_form.hidden_tag() }}
            {{ wtf.form_field(meal_form.meal_type) }}
            <button class="btn btn-primary btn-block form-btn" type="submit">Add Meal</button>
          </form>

          <!-- MEALS CONTAINER -->
          <div class="meals">
            {% for meal in all_meals %}
            <div class="added-div">
              <strong>{{ meal.meal_time }}</strong> | {{ meal.meal_type }}
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-8">
          <!-- MEAL CHART -->
          <canvas class="chart" id="mealChart"></canvas>
        </div>
      </div>
      <!--End of Meal Row-->

      <!-- Start of Mood Row -->
      <div class="row top-margin section-container">
        <div class="col-lg-4">
          <!-- MOOD FORM -->
          <form class="mood-form" method="POST" action="/dashboard">
            <h5>{{ dog_info.dog_name }}'s Mood Data</h5>
            {{ mood_form.hidden_tag() }}
            {{ wtf.form_field(mood_form.mood_type) }}
            {{ wtf.form_field(mood_form.mood_note) }}
            <button class="btn btn-primary btn-block form-btn" type="submit">Add Mood</button>
          </form>

          <!-- MOODS CONTAINER -->
          <div class="moods">
            {% for mood in all_moods %}
            <div class="added-div">
              <h5>{{ mood.mood_type }}</h5>
              <p>{{ mood.mood_note }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-8">
          <!-- MOOD CHART -->
          <canvas class="chart" id="moodChart"></canvas>
        </div>
      </div>
      <!-- End of Mood Row -->

      <!-- Start of Activity Row -->
      <div class="row top-margin section-container">
        <div class="col-lg-4">
          <!-- ACTIVITY FORM -->
          <form class="activity-form" method="POST" action="/dashboard">
            <h5>{{ dog_info.dog_name }}'s Activity Data</h5>
            {{ activity_form.hidden_tag() }}
            {{ wtf.form_field(activity_form.activity_type) }}
            {{ wtf.form_field(activity_form.activity_duration) }}
            {{ wtf.form_field(activity_form.activity_note) }}
            <button class="btn btn-primary btn-block form-btn" type="submit">Add Activity</button>
          </form>

          <!-- ACTIVITY CONTAINER -->
          <div class="activities">
            {% for activity in all_activities %}
            <div class="added-div">
              <p><strong>{{ activity.activity_time }} | {{ activity.activity_type }}</strong></p>
              <p><strong>Note: </strong>{{ activity.activity_note }}</p>
              <p><strong>Duration: </strong>{{ activity.activity_duration }} mins</p>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-8">
          <!-- ACTIVITY CHART -->
          <canvas class="chart" id="activityChart"></canvas>
        </div>
      </div>
      <!-- End of Activity Row -->

      <!-- Start of Training Row -->
      <div class="row top-margin section-container">
        <div class="col-lg-4">
          <!-- TRAINING FORM -->
          <form class="training-form" method="POST" action="/dashboard">
            <h5>{{ dog_info.dog_name }}'s Training Data</h5>
            {{ training_form.hidden_tag() }}
            {{ wtf.form_field(training_form.training_type) }}
            {{ wtf.form_field(training_form.training_duration) }}
            {{ wtf.form_field(training_form.training_note) }}
            <button class="btn btn-primary btn-block form-btn" type="submit">Add Training Session</button>
          </form>

          <!-- TRAINING CONTAINER -->
          <div class="trainings">
            {% for training in all_trainings %}
            <div class="added-div">
              <p><strong>{{ training.training_time }} | {{ training.training_type }}</strong></p>
              <p><strong>Note: </strong>{{ training.training_note }}</p>
              <p><strong>Duration: </strong>{{ training.training_duration }} mins</p>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-8">
          <!-- TRAINING CHART -->
          <canvas class="chart" id="trainChart"></canvas>
        </div>
      </div>
      <!-- End of Training Row -->

      <!-- Start of Grooming Row -->
      <div class="row top-margin section-container">
        <div class="col-lg-4">
          <!-- GROOMING FORM -->
          <form class="grooming-form" method="POST" action="/dashboard">
            <h5>{{ dog_info.dog_name }}'s Grooming Data</h5>
            {{ grooming_form.hidden_tag() }}
            {{ wtf.form_field(grooming_form.grooming_type) }}
            <button class="btn btn-primary btn-block form-btn grooming-btn" type="submit">Add Grooming Session</button>
          </form>

          <!-- GROOMING CONTAINER -->
          <div class="groomings">
            {% for grooming in all_groomings %}
            <div class="added-div">
              <strong>{{ grooming.grooming_type }}</strong>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-8 chart-container">
          <!-- GROOMING CHART -->
          <canvas class="chart" id="groomChart"></canvas>
        </div>
      </div>
      <!-- End of Grooming Row -->
    </div> <!-- End of Main row-->



    <!-- SUB ROW PROFILE PICTURES, MEDICATIONS, & NOTES -->
    <div class="col-lg-4 section-container">

      <!-- Profile picture, dog name, and bio -->
      <div class="dog-info">
        <img class="profile-pic centered mx-auto d-block" src="/static/imgs/user_uploads/images/{{dog_info.dog_img}}">
        <h3 class="centered"> {{ dog_info.dog_name }} </h3>
        <p class="centered"> {{ dog_info.dog_bio }} </p>
        <div class="h-line centered heading-margin"></div>
      </div>

      <!-- MEDS FORM -->
      <form class="meds-form top-margin" method="POST" action="/dashboard">
        <h5>{{ dog_info.dog_name }}'s Monthly Med Data</h5>
        {{ med_form.hidden_tag() }}
        {{ wtf.form_field(med_form.med_type) }}
        {{ wtf.form_field(med_form.med_note) }}
        <button class="btn btn-primary btn-block form-btn" type="submit">Add a medication</button>
      </form>

      <!-- MEDS CONTAINER -->
      <div class="meds">
        {% for med in all_meds %}
        <div class="added-div">
          <p><strong>{{ med.med_type }}</strong>: {{ med.med_note }}</p>
        </div>
        {% endfor %}
      </div>

      <!-- NOTES FORM -->
      <form class="notes-form top-margin" method="POST" action="/dashboard">
        <h5>{{ dog_info.dog_name }}'s Notes</h5>
        {{ note_form.hidden_tag() }}
        {{ wtf.form_field(note_form.note) }}
        <button class="btn btn-primary btn-block form-btn" type="submit">Add a note</button>
      </form>

      <!-- NOTES CONTAINER -->
      <div class="notes">
        {% for note in all_notes %}
        <div class="added-div">
          <p><strong>{{ note.note_date }}</strong></p>
          <p>{{ note.note }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div> <!-- End of Main row-->


</div> <!-- bootstrap-container -->
{% endblock %}