{% extends 'base.html' %}
{% block title %}
Preoccupied Pup
{% endblock %}
{% block body %}

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Preoccupied Pup</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse navbar-right" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Log In</a></li>
            <li class="nav-item"><a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a></li>
        </ul>
    </div>
</nav>

<!------------------------------------------>

<!-- CONTAINER FOR ALL INDEX CONTENT -->
<div class="container index-section top-margin">

    <!-- MAIN BRANDING SECTION -->
    <div class="row">
        <div class="col-lg">
            <img class="main-img" src="/static/imgs/main.png">
            <h1 class="heading-margin">Preoccupied Pup</h1>
            <h5>Start occupying your pups time for improvement in health, behavior, and happiness.</h5>
            <div class="h-line centered heading-margin"></div>

        </div>
    </div>

    <!------------------------------------------>

    <!-- WHY TRACK YOUR PUP -->
    <div>
        <h2 class="top-margin bottom-margin">Why track your dogs day to day tasks?</h2>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5 why-container-l">
                <h4>Health</h4>
                <img class="why-img" src="/static/imgs/play.jpeg">
                <p>You dogs overall health is essential to how they act, play, and socialize with others.</p>
            </div>
            <div class="col-lg-5 why-container-r">
                <h4>Behavior</h4>
                <img class="why-img" src="/static/imgs/kid.jpeg">
                <p>How your dog acts in public is essential to their own health as well as others.</p>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5 why-container-l">
                <h4>Happiness</h4>
                <img class="why-img" src="/static/imgs/love.jpeg">
                <p>Giving your dog something to do keeps the dog both mentally and physically tired. This makes the dog
                    calm, rational, and happy!</p>
            </div>
            <div class="col-lg-5 why-container-r">
                <h4>Owner Accountability</h4>
                <img class="why-img" src="/static/imgs/walk.jpeg">
                <p>Many people do not know if they are creating healthy habits for their dog and often feel like they
                    are not giving enough time to them.</p>
            </div>
            <div class="col-lg-1"></div>

        </div>
    </div>
</div>
{% endblock %}