{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Preoccupied Pup Login
{% endblock %}

{% block body %}
    <div class="container top-margin">

      <form class="form-signin" method="POST" action="/login">
        <h2>Sign In</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.password) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> <!-- /container -->
{% endblock %}