{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Preoccupied Pup Puppy Sign Up
{% endblock %}
{% block body %}

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Preoccupied Pup</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active"><a class="nav-link" href="{{ url_for('login') }}">Log In</a></li>
      <li class="nav-item active"><a class="nav-link" href="{{ url_for('signup') }}">Sign Up</a></li>
    </ul>
  </div>
</nav>

<!------------------------------------------>

<!-- PUP SIGNUP -->
<div class="container top-margin">

  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div class="sign-in-container">
        <img class="sign-in-img centered-img heading-margin" src="/static/imgs/bark.PNG">

        <h2 class="centered heading-margin">Add Your Pup</h2>

        <form class="form-pupsignin" method="POST" action="/pupsignup" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          {{ wtf.form_field(form.dog_name) }}
          {{ wtf.form_field(form.dog_bio) }}
          {{ wtf.form_field(form.dog_img) }}
          <button class="btn btn-lg btn-primary btn-block btn-color text-white" type="submit">Complete</button>
        </form>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>

</div> <!-- /container -->
{% endblock %}