{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Preoccupied Pup Sign Up
{% endblock %}

{% block body %}
<div class="container top-margin">

  <form class="form-signup" method="POST" action="/signup">
    <h2>Sign Up</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.first_name) }}
    {{ wtf.form_field(form.last_name) }}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.password) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
  </form>

</div> <!-- /container -->
{% endblock %}