/* GLOBAL STYLES */
body {
    background-image: url('/static/imgs/double-bubble-outline.png');
}

.top-margin {
    margin-top: 75px;
}

.sign-in-img {
    width: 75%;
    height: auto;
}

.sign-in-container {
    background-color: white;
    padding: 35px;
    border: 2px solid #D3D3D3;
    border-radius: 25px;
}

.heading-margin {
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

.centered-img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    color: black;
}

.btn-color{
    background-color: #8bdbe6;
    border: 1px solid #8bdbe6;
    border-radius: 5px;
    margin-top: 15px;
}

/* INDEX STYLES */
.index-container {
    background-color: #F14304;
}
.main-img {
    width: 75%;
    height: 75%;
}

.why-img {
    width: 25%;
    height: 25%;
}